{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>NbPages</th>
                <th>Autor</th>
                <th>Synopsis</th>
                <th>Slug</th>
                <th>Note</th>
                <th>Price</th>
                <th>Language</th>
                <th>Image</th>
                <th>IsAvailable</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.nbPages }}</td>
                <td>{{ book.autor }}</td>
                <td>{{ book.synopsis }}</td>
                <td>{{ book.slug }}</td>
                <td>{{ book.note }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.language }}</td>
                <td>{{ book.image }}</td>
                <td>{{ book.isAvailable ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_book_new') }}">Create new</a>
{% endblock %}
